.container {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}

.weekend {
  color: red;
}

.holidayOrWeekend {
  color: red;
}
