.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.calendarSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.monthNavigation {
  display: flex;
  align-items: center;
}

.navButton {
  background: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 12px;
}

.shiftInputSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 60%;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* ... 既存のスタイル ... */

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 16px;
  width: 90%;
  justify-content: center;
}

.calendarDay {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calendarDay:hover {
  background-color: rgba(0, 123, 255, 0.2);
  transform: scale(1.1);
}

.daysOfWeek {
  display: flex;
}

.dayLabel {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: #eee;
}

.today {
  background-color: #ffdd57; /* 今日の日付の背景色 */
}

.selectedDay {
  background-color: rgba(
    100,
    149,
    237,
    0.6
  ); /* この色はCornflowerBlueの透明度を60%にしたものです */
}

.pendingShiftDay {
  background-color: rgba(255, 255, 0, 0.6);
}

.sunday {
  color: red; /* 日曜日の色 */
}

.saturday {
  color: blue; /* 土曜日の色 */
}

.holiday {
  background-color: #ffd700; /* お好みの色に変更できます */
}

.shiftBar {
  transform: translateY(100%); /* 最初にバーは完全に画面外に隠れている */
  transition: transform 0.3s ease-out; /* 0.3秒でアニメーション */
  position: fixed; /* 画面の一番下に配置 */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5; /* 任意の背景色 */
  padding: 32px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* 影を少し付ける */
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shiftBarVisible {
  transform: translateY(0); /* 表示時はバーが完全に見える位置に */
}

.addButton {
  position: absolute;
  top: 20px; /* この値を調整してボタンの位置を下に移動します。必要に応じてさらに増やすことができます。 */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selectedDaysSection {
  max-width: 270px;
  position: absolute;
  top: 8px; /* 上部からの距離を少し小さく */
  left: 8px; /* 左側からの距離を少し小さく */
  background-color: #f5f5f5;
  padding: 4px 6px; /* パディングを少し小さく */
  border-radius: 3px; /* 角の丸みを少し小さく */
  font-size: 12px; /* フォントサイズを小さく */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* 影を少し薄く */
  z-index: 1;
  /* display: flex;
  flex-wrap: wrap; /* 折り返して表示 */
  /* gap: 8px;  */
  overflow-x: auto; /* 横スクロールバーの表示 */
  white-space: nowrap;
}

.shiftInputSection {
  /* ここに既存のスタイルを保持 */
  display: flex; /* フレックスボックスを有効にする */
  flex-direction: column; /* 子要素を縦方向に配置 */
  position: relative; /* 子要素のポジショニングの基準として使用 */
}

.clearButtonContainer {
  position: absolute; /* 絶対位置指定 */
  top: 0; /* 上端に配置 */
  right: 0; /* 右端に配置 */
}

.clearButton {
  display: inline-block;
  padding: 5px 10px; /* サイズを小さくするためにパディングを減少 */
  font-size: 14px; /* テキストのサイズを小さくする */
  background-color: rgba(0, 123, 255, 0.7); /* 透明度を上げるための背景色 */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: -10px; /* ボタンを少し左に移動 */
  bottom: -10px; /* ボタンを少し下に移動 */
}

.clearButton:hover {
  background-color: rgba(0, 86, 179, 0.7); /* 透明度を上げるためのホバー背景色 */
}

.clearButton:active {
  background-color: rgba(0, 68, 153, 0.7); /* 透明度を上げるためのアクティブ背景色 */
}

.clearButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.autocompleteContainer {
  width: 100%;
  max-width: 300px; /* or any desired width */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.closeButtonContainer {
  position: absolute; /* 絶対位置指定 */
  top: 10px; /* 上からの位置を指定 */
  left: 10px; /* 左からの位置を指定 */
}

.autocompleteContainer > :first-child {
  margin-right: 20px; /* これを追加：最初のコンポーネントの右側にスペースを追加 */
}

.timespace {
  padding-top: 30px;
}

.save-to-database-btn {
  background-color: #007bff; /* ボタンの背景色 (例: 青) */
  color: #ffffff; /* テキストの色 (例: 白) */
  padding: 10px 20px; /* 内側の余白 (上下10px、左右20px) */
  border: none; /* ボーダーなし */
  border-radius: 5px; /* 角の丸み */
  cursor: pointer; /* ホバー時のカーソルの形状 */
  font-size: 16px; /* フォントサイズ */
  transition: background-color 0.3s; /* 背景色の遷移効果 */
}

/* ホバー時のスタイル */
.save-to-database-btn:hover {
  background-color: #0056b3; /* ホバー時の背景色 (例: 濃い青) */
}

/* アクティブ(クリック時)のスタイル */
.save-to-database-btn:active {
  background-color: #004085; /* アクティブ時の背景色 (例: さらに濃い青) */
}
