.clearButtonContainer {
  position: absolute; /* 絶対位置指定 */
  top: 0; /* 上端に配置 */
  right: 0; /* 右端に配置 */
}

.clearButton {
  display: inline-block;
  padding: 5px 10px; /* サイズを小さくするためにパディングを減少 */
  font-size: 14px; /* テキストのサイズを小さくする */
  background-color: rgba(0, 123, 255, 0.7); /* 透明度を上げるための背景色 */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: -10px; /* ボタンを少し左に移動 */
  bottom: -10px; /* ボタンを少し下に移動 */
}

.clearButton:hover {
  background-color: rgba(0, 86, 179, 0.7); /* 透明度を上げるためのホバー背景色 */
}

.clearButton:active {
  background-color: rgba(0, 68, 153, 0.7); /* 透明度を上げるためのアクティブ背景色 */
}

.clearButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.selectedDaysSection {
  max-width: 270px;
  position: absolute;
  top: 8px; /* 上部からの距離を少し小さく */
  left: 8px; /* 左側からの距離を少し小さく */
  background-color: #f5f5f5;
  padding: 4px 6px; /* パディングを少し小さく */
  border-radius: 3px; /* 角の丸みを少し小さく */
  font-size: 12px; /* フォントサイズを小さく */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* 影を少し薄く */
  z-index: 1;
  /* display: flex;
  flex-wrap: wrap; /* 折り返して表示 */
  /* gap: 8px;  */
  overflow-x: auto; /* 横スクロールバーの表示 */
  white-space: nowrap;
}

.addButton {
  position: absolute;
  top: 20px; /* この値を調整してボタンの位置を下に移動します。必要に応じてさらに増やすことができます。 */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButtonContainer {
  position: absolute; /* 絶対位置指定 */
  top: 10px; /* 上からの位置を指定 */
  right: 10px; /* 左からの位置を指定 */
  width: 80px;
  height: 50px;
}

.timespace {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.shiftsubmitbutton {
  background-color: #4caf50; /* 主な背景色 (この場合は緑) */
  border: none; /* ボーダーをなくす */
  color: white; /* 文字色は白 */
  padding: 10px 20px; /* 上下のパディングは10px、左右のパディングは20px */
  text-align: center; /* テキストは中央寄せ */
  text-decoration: none; /* テキストの下線をなくす */
  display: inline-block; /* インラインブロックとして表示 */
  font-size: 16px; /* フォントサイズは16px */
  margin: 4px 2px; /* マージンを微調整 */
  cursor: pointer; /* カーソルを手のアイコンにする */
  border-radius: 4px; /* 角を少し丸くする */
  transition: background-color 0.3s; /* 背景色の遷移効果 */
}

.shiftsubmitbutton:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

.deleteShiftButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.monthNavigation {
  display: flex;
  align-items: center;
}

.navButton {
  background: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 12px;
}

.calendarDay {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calendarDay:hover {
  background-color: rgba(0, 123, 255, 0.2);
  transform: scale(1.1);
}

.dayLabel {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: #eee;
}

/* kokokaratigau */

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  color: #0058a3;
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-left: 40px;
}

.navItem {
  color: #0058a3;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 700;
}

.navItem:hover {
  color: #003d7a;
}

.viewOptions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.viewButton {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.holiday {
  color: red;
}
